.app {
    display: flex;
    flex-direction: column;
    margin: 70px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ratings-container {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}