.rating-block {
    display: flex;
    gap: 5px;
}

.rating-block > svg {
    cursor: auto;
}

.rating-block > svg > path {
    cursor: pointer;
}

.stars {
    stroke-width: 2px;
    stroke: yellow;
}

.stars.animate {
    animation: shake var(--animation-duration) ease var(--delay) forwards;
}

@keyframes shake {
    0%  { transform: translateY(0) ; fill: transparent;}
    50% { transform: translateY(-15%);}
    100%{ transform: translate(0)  ; fill: var(--fill-color);}
}